[submodule "Terrain Generation/vendor/GLFW"]
	path = Terrain Generation/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Terrain Generation/vendor/ASSIMP"]
	path = Terrain Generation/vendor/ASSIMP
	url = https://github.com/assimp/assimp
[submodule "Terrain Generation/vendor/STB_IMAGE"]
	path = Terrain Generation/vendor/STB_IMAGE
	url = https://github.com/nothings/stb
